/*Gerais*/

body{
	font-family: 'Roboto',sans-serif;
}

.row{
	margin: 0;
}

.container{
	padding: 70px 0;
}

p, li{
	color: #444;
	font-size: 14px;
}

/*Barra de Navegação*/

header, .navbar{
	background-color: #660066;
}

#nav-container{
	padding-top: 0;
	padding-bottom: 0;
}

#logo{
	width: 55px;
}

.navbar-brand{
	padding: 0;
	color: white;
}

.navbar-brand:hover{
	color: white;
}

#navbar-links a{
	color: white;
	
}

.navbar-expand-lg .navbar-nav .nav-link{
	padding: 1rem .8rem;
}

/*Slide*/

#mySlider .carousel-inner, #mySlider .carousel-item{
	height: 90vh;
} 

#mySlider .carousel-caption{
	top: 30%;
}

#mySlider .carousel-caption h2{
	font-size: 50px;
	margin-bottom: 30px;
	color: #ffffff;
}

#mySlider .carousel-caption p{
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 50px;
	color: #660066;
	background-color: rgba(255, 255, 255, 0.6);
	border: 1px solid transparent;
	border-radius: 20px ;
}

.main-btn{
	text-decoration: none;
	background-color: #ffcc00;
	color: #ffffff;
	text-transform: uppercase;
	width: 200px;
	height: 60px;
	padding: 10px 20px;
	border-radius: 30px;
	border: 3px solid transparent;
	transition: .5s;
	font-weight: bold;
}

.main-btn:hover{
	text-decoration: none;
	color: white;
	background-color: transparent;
	border-color: #ffff00;	
}

.carousel-indicators .active{
	background-color: #ffff00;
}

/*Grid-Lista Area Sobre*/

#about-area{
	background-color: #F9F9F9;
	text-align: justify;
}

.main-title{
	color: #444;
	margin:  0 0 65px 0;
	font-size: 40px;
	text-align: center;
}

.main-title::after{
	content: "";
	border-top:  2px solid #333;
	width: 15%;
	position: absolute;
	top: 60px;
	left: 42.5%;
}

.about-title{
	font-size: 17px;
	color: #444;
	text-transform: uppercase;
	font-weight: bold;
}

.about-list{
	list-style: none;
	padding-left: 0;
}

.about-list li{
	line-height: 30px;
}

.about-list i{
	color: #660066;
	margin-right: 15px;
}

/*Modalidades*/

.modality-box{
	text-align: justify;
	margin-bottom: 50px;
}

.modality-box i, .modality-box h4{
	transition: .5s;
}

.modality-box i{
	font-size: 36px;
	margin-bottom: 20px;
	color: #000000;
}

.modality-box h4{
	font-size: 24px;
	margin-bottom: 20px;
}

.modality-box:hover > i, .modality-box:hover > h4{
	color: #ffcc00;
}

/*Dados*/

.circle-box div{
	padding: 0 40px;
}

.progressbar-text{
	font-weight: bold;
	font-size: 32px;
	
}

#data-area{
	background-image: url("../img/servicos.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#data-area p{
	color: #ffff00;
	text-align: center;
	font-size: 26px;
	margin-top: 20px;
	font-weight: bold;
}

/*Profissionais*/

#team-area .card-body{
	text-align: center;
}

.owl-prev{
    left: -30px;
}
.owl-next{
    right: -30px;
}
.owl-prev, .owl-next{
    position: absolute;
    top: 90px;
}
.owl-prev span, .owl-next span{
    font-size: 80px;
    color: black;
    background: transparent;
}
.owl-theme, .owl-nav:hover{
    background: transparent;
}

/*Planos*/


#plans-area .row {
	height: 100%;
}

#plans-area .col-sm{
	height: 85%;
}

#plans-area .card-body{
	height: 70px;
	border: 1px solid transparent;
	border-radius: 0px 0 20px 20px;
	font-weight: bolder;
	margin-bottom: 50px;
}

#plans-area .card-body p{
	width: 150px;
	background-color:#ffcc00;
	color: white;
	margin: auto;
	border: 1px solid transparent;
	border-radius: 20px;
	text-align: center;
}

#plan-p1 span{
	font-size: 25px;
	color: #660066;
}

#plan-p2 span{
	font-size: 25px;
	color:#ff3300;
}

#plan-p3 span{
	font-size: 25px;
	color:#000000;
}

.card ul{
	margin-left: 20px;
	text-align: justify;
}

#card-plan1{
	color: white;
	background-color:#660066;
}

#card-plan2{
	color: white;
	background-color:#ff3300;
}

#card-plan3{
	color: white;
	background-color:#000000;
}

#plan-list2 i{
	color:#ff3300;
}

#plan-list3 i{
	color:#000000;
}

/*news letter*/

#news-area{
	margin-top: 150px;
	text-align: center;
	background-color: #f9f9f9;
}

#news-area p{
	font-size: 18px;
	margin-bottom: 40px;
}

#email-input{
	border-radius: 0;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border: 1px solid #ffcc00;
	display: inline;
	box-sizing: border-box;
	width: 40%;
	height: 40px;
}

#news-btn{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid #ffcc00;
	background-color: #ffcc00;
	text-transform: uppercase;
	color: #660066;
	height: 40px;
	padding: 0 30px;
	margin-left: -130px;
	position: absolute;
	transition: .5s;
}

#news-btn:hover{
	background-color: #660066;
	text-transform: uppercase;
	color: #ffffff;
}

/*Contato*/

#contact-area{
	background-color: #660066;
	text-align: center;
}

#contact-area .main-title{
	color: #ffffff;
}
.contact-box{
	padding-bottom:50px;
	margin-bottom: 50px;
	border-bottom: 1px solid #ffff00;
}

.contact-box i{
	color: white;
	border: 1px solid #ffff00;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	line-height: 55px;
	font-size: 24px;
	margin-bottom: 20px;
}

.contact-box p{
	font-size: 16px;
	color: #fff;
}

.contact-title{
	font-weight: bold;
	color: red;
}

#msg-box p{
	font-size: 22px;
	color: #ffffff;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea{
	margin-bottom: 15px;
	border-radius: 0;
}

#contact-form .main-btn{
	width: 120px;
	background-color: #ffff00;
	border-radius: 30px;
	border: 3px solid transparent;
	color: #660066;
}

#contact-form .main-btn:hover{
	border: 3px solid white;
	background-color: transparent;
	color: white;
}

/*Copy Area*/

#copy-area{
	background-color: #f1f1f1;
}

#copy-area .container{
	padding: 10px 0;
	text-align: center;
}

#copy-area .container p{
	margin-bottom: 0;
}

#copy-area .container span{
	color: #660066;
}

/*Configuração Responsiva*/

@media(max-width: 768px){

	/*geral*/

	.container{
		padding: 20px 0;
	}

	/*slider*/

	#mySlider .carousel-inner, #mySlider .carousel-item{
		height: auto;
	}

	#mySlider .carousel-caption h2{
		font-size: 28px;
	}

	#mySlider .carousel-caption p{
		font-size: 18px;
		margin-bottom: 40px;
	}

	.carousel-caption{
		left: 10%;
		right: 10%;
	}

	/*about*/

	#about-area img{
		margin-top: 100px;
	}

	/*data*/

	#circle-box div{
		padding: 0 10px;
	}

	#data-area p{
		font-size: 16px;
	}

	/*team*/

	#card-title{
		font-size: 14px;
	}

	#card-text{
		font-size: 12px;
	}

	/*Planos*/

	#plans-area .card{

	}
	/*news*/

	#news-area p{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	#email-input{
		width: 70%;
	}

	/*Contato*/

	#contact-area{
		margin-top: 30px;
	}

	#contact-area .container{
		padding: 30px;
	}

	.contact-box p{
		font-size: 14px;
	}

}

@media(max-width: 425px){

	/*slider*/

	#mySlider{
		margin-top: 90px;
	}

	#mySlider .carousel-caption{
		top: 5%;
	}

	#mySlider .carousel-caption h2{
		font-size: 18px;
		margin-bottom: 40px;
	}

	#mySlider .carousel-caption p{
		display: none;
	}

	.carousel-caption .main-btn{
		font-size: 14px;
	}

	/*about*/

	.main-title{
		font-size: 30px;
	}

	#about-area img{
		margin-top: 0px;
		margin-bottom: 30px;
	}

	/*data*/

	.circle-box{
		width: 50%;
	}

	/*Planos*/

	#plans-area .card{
		margin-bottom: 50px;
	}
	/*news*/

	#news-area{
		margin-top: 0px;
	}

	#news-area .main-title{
		font-size: 24px;
	}

	#news-area p{
		font-size: 16px;
	}

	#email-input{
		width: 80%;
	}

	/*Contato*/

	#contact-area{
		margin-top: 10px;
	}

	#contact-area .container{
		padding: 30px;
	}

	.contact-box p{
		font-size: 18px;
	}

}